.appHeader {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.headerLogo {
    height: 38px;
    width: auto;
}

.headerTitle {
    flex: 1;
    display: flex;
    justify-content: center;
}

.headerTitle h2 {
    font-size: 18px;
    font-weight: 700;
    color: #6b46c1;
}